html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    font-family: "Inter", sans-serif;
    background: #121212;
    color: white;
  }
:root{
  color-scheme: light only;
}
